server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/atschecker_db
    username: postgres
    password: Ni@12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false